@media screen and (max-width: 1152px) {
    :root {
        --w-title: 64px;
    }
    .container {
        width: 1088px;
    }

    .welcome_block .form {
        padding: 55px 0;
        align-items: center;
    }
    .welcome_block .form label {
        width: 158px;
    }
    .welcome_block .form .btn {
        padding: 40px 20px;
        height: 179px;
    }
    .welcome_block {
        background-position: 0 -510px;
    }
    .popular_block .titles{
        grid-template-columns: 854px auto;
    }
    .btn {
        width: max-content;
        height: max-content;
    }
    .popular_block .titles .buttons {
        align-self: end;
    }

    .offer_block .titles{
        grid-template-columns: auto 854px;
    }
    .offer_block .content .item .info {
        padding: 24px 20px;
    }
    .offer_block .content .item .info .detail {

    }
    .offer_block .price {
        font-size: 18px;
    }
    .offer_block .price span {
        font-size: 28px;
    }
    .offer_block .content .btn {
        font-size: 20px;
        padding: 16px 24px;
    }

    .tour_block .slide img {
        height: 350px;
    }
    .tour_block .slider {
        grid-template-columns: repeat(4, 250px);
    }
    .tour_block .slide {
        width: 250px;
    }


    .gallery {
        grid-template-columns: 854px auto;
    }

    .gallery .content img {
        width: 248px;
        height: 351px;
    }

    .feedback .content {
        grid-template-columns: repeat(3, 500px);
    }

    .newsletter {
        width: 1080px;
        gap: 60px;
    }
    .newsletter .title {
        font-size: 54px;
    }

    .footer a {
        font-size: 18px;
    }

    .blog_block {
        .content {

            img {
                width: 528px;
                height: 666px;
            }
            .info {
                display: flex;
                flex-direction: column;
                gap: 26px;

                h2 {
                    font-size: 54px;
                }
                p {
                    font-size: 18px;
                    line-height: 42px;
                }
                a {
                    font-size: 24px;
                }
            }
        }
    }
}